@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

body {
    margin: 0;
}

.fullpage-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
}

.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.at-right {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 15px;
}

.phone-number-field {
    width: 100%;
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

#game-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: 2px solid black;

    background-color: lightgoldenrodyellow;
}

.tile-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile {
    background-color: slateblue;
    height: 70%;
    max-height: 70%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Science Gothic', serif;
    font-size: 3em;
    color: white;
    border-radius: 10px;
}

.tile-text {
    font-size: 1.5em;
}

/* l’objet qui se déplace */
#cat {
    position: absolute;
    width: 60px;
    height: 60px;
    transition: transform 0.1s linear;

    left: 0;
    top: 0;
}

#phone-number-field {
    width: 100%;
    height: 4%;
}


.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.space-between {

    justify-content: space-between;
}

#phone-number-field {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
}

#confirm {
    background-color: greenyellow;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
}

#retry {
    background-color: gold;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;    border-radius: 10px;
    margin-left: 10px;

}

.tuxedoicon {
    cursor: url("images/tuxicon.png") 32 32, auto;
}

.tile-cancel {
    background-color: indianred;
}

.tile-validate {
    background-color: forestgreen;
}

.active {
    border: 3px solid black;
}

